body{
    font-family: 'Roboto', sans-serif;   
    
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header-wrap{
    margin-top: 63px;
}

.logo-text{
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.logo-text span{
    color: rgba(75, 202, 255, 1);
}

.header-nav{
   margin-top: 38px;
   background-color: #35444F;
}

.header-nav-items{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;    
}

.header-nav-item{
    padding: 26px 40px 19px;
    border-right: 1px solid #FFFFFF;
}

.header-nav-item:first-child{
    border-left: 1px solid #FFFFFF;
    padding-left: 40px;
}

.header-nav-item:hover{
    background: #222F3A;
}

.header-nav-link{
    color: #FFFFFF;
}

.main-wrap{
    display: flex;
    margin-top: 48px;
    gap: 52px;    
}

.aside-menu{
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #808080;
    font-size: 27px;
    line-height: 27px;   
    color: rgba(53, 68, 79, 1);
           
}

.aside-menu-item{
    padding: 25px 44px 25px;
    color: rgba(53, 68, 79, 1);
}

.aside-menu-item:hover{
    padding-left: 55px;
    background-color:  #DBDBDB;
    transition: 2ms;
 
}


.aside-menu-link{    
    color: rgba(53, 68, 79, 1);
}

.aside-menu-item:hover .aside-menu-link{
    color: rgba(0, 0, 0, 1);
}

.img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #808080;
}

.image{
    width: 320px;
    height: 381px;
    overflow: hidden;
    transition: transform 0.5s;   
}

.image:hover {
    transform: scale(1.1);     
}

.text{
    padding-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 54px 0 30px;
    padding: 20px 40px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-nav{
    max-width: 875px;    
}

.footer-nav-items{
    display: flex;
    gap: 20px;
    font-size: 28px;
    line-height: 28px;
}

.footer-nav-link{
    color: rgba(12, 25, 39, 1);
}

.footer-nav-link:hover{
    padding-bottom: 13px; 
    border-width: 166px;
    border-bottom: 1px solid #3181A6;
    color: rgba(49, 129, 166, 1);
}

.footer-text{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
